[Config]
print_config_summary = true
print_config_detail = false

[Controller: Extension Board]
type = OpenSprinklerExt
category = Sprinkler
boards = 1
data = 98
clock = 99
latch = 97
oe = 96

[Controller: MyController]
type = DummyController
category = Dummy
a = 1
b = def

[Actuator: 0 front-lawn]
controller = MyController
category = Dummy
description = 
order = 1000
id = 0

[Actuator: 1 front-misters]
controller = MyController
category = Dummy
description = 
order = 1100
id = 1

[Actuator: 2 back-lawn]
controller = MyController
category = Dummy
description = 
order = 1200
id = 2

[Actuator: 3 back-popups]
controller = MyController
category = Dummy
description = 
order = 1300
id = 3

[Actuator: 4 back-center]
controller = Extension Board
category = Sprinkler
description = 
order = 1400
station = 4

[Actuator: 5 back-mid]
controller = MyController
category = Dummy
description = Rotators
order = 1500
id = 5

[Actuator: 10 test]
controller = Extension Board
category = Sprinkler
description = 
order = 1600
station = 10

