{% extends "automation-layout.html" %}
{% block title %}Add {{controller_type.Name()}} Controller{% endblock %}
{% block body %}
<form method="post">
    <table class="plain">
        <tr>
            <td class="error">{{error['name']}}</td>
            {% for item in controller_type.ControllerAllConfigItems() %} 
            <tr>
                <td>{{item}}:</td>
                <td><input type="text" name="{{item}}" 
                {% if item == 'Type' %}
                readonly="readonly"
                {% endif %}
                value="{{param[item]}}"/></td>
                <td class="error">{{error[item]}}</td>
            </tr>
            {% endfor %}
        </tr>
    </table>
    <br>
    <input type="submit" name="add" value="Add"/>
    <input type="submit" name="cancel" value="Cancel"/>
</form>
{% endblock %}

